<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form  (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        name="email"
        type="email"
        placeholder="Email Address"
        ngModel
        #emailInput="ngModel"
        required>
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        name="password"
        type="password"
        placeholder="Password"
        ngModel
        #pwdInput="ngModel"
        required>
      <mat-error *ngIf="pwdInput.invalid">Please enter a valid password</mat-error>
    </mat-form-field>
    <button mat-raised-button
      color="primary"
      type="submit">
      Login
    </button>
  </form>
</mat-card>
